<header style="
background-color: #f3f4f6;
padding: 20px 40px;
">
  <h1 style="
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  ">LOAN TRACKER</h1>
</header>